html
{
  margin: 0;
  padding: 0;
}

/* COMMUN AUX PAGES */


/* HEADER */
header #titre
{
  display: flex;
  justify-content: center;
}
#titre img
{
  width: 15vw;
  height: 25vh;
}
#titre h1
{
  font-size: 3.6em;
  text-align: center;
}


/* FOOTER */

/* INSCRIPTION */

/* CONNEXION */

/* PROFIL */

/* INDEX PENDU */

/* LEADERBOARD */

/* ADMIN */